.container {
	display: grid;
	grid-template-columns: 200px 1fr;
	gap: 5px;
	grid-auto-flow: row;
	grid-template-areas:
    "torrentList DashBoard";

	div {
		outline: 1px solid gray;

		&:after {
			position: absolute;
			display: block;
			color: #ffffff;
			width: 100px;
			height: 20px;
			content: attr(class); /* no quotes around attribute name! */
		}
	}

	.torrentList {
		grid-area: torrentList;
	}

	.DashBoard {
		grid-area: DashBoard;

		&:after {
			display: none;
		}

		display: grid;
		grid-template-columns: 1fr 2fr 2fr;
		grid-template-rows: 1.4fr 0.6fr;
		gap: 5px;
		grid-auto-flow: row;
		grid-template-areas:
    "FolderTree FileList FileListAfterRename"
    "RenameTools RenameTools RenameTools";

		.FolderTree {
			grid-area: FolderTree;
		}

		.FileList {
			grid-area: FileList;
		}

		.FileListAfterRename {
			grid-area: FileListAfterRename;
		}

		.RenameTools {
			grid-area: RenameTools;
		}


	}


}
